In [11]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:/adult.csv')

In [12]:
print(data.head())

   Age          Workclass  Income   Education  Education-Num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        Marital Status          Occupation    Relationship    Race      Sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   Capital Gain  Capital Loss  Hours per Week  Native Country
0          2174             0              40   United-States
1             0             0              13   United-States
2             0             0              40   United-States
3             0             0              40   United-States
4             0             0              40            Cuba

In [13]:
Income = np.array(data['Income'])

In [15]:
mean_salary = np.mean(Income)
std_dev_salary = np.std(Income)
median_salary = np.median(Income)